<div class="container">     <br>   <br>
    <button (click)="viewAllSubjects(displayStatus)">view all subjects</button>
    <br> 
    <table class="table table-hover table-striped">
      <thead>
        <tr >
          <th>Roll No</th>
          <th>Name</th>
          <th>subject</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of data;let i=index" #colorListTemp>
          <td>{{obj.rollNo}}</td>
          <td>{{obj.name}}</td>
          <td>
            <button (click)='viewSubject(i)'>view subjects</button>
          <ul  #subjectListTemp   class="hide-list">
            <ng-container *ngFor="let sub of obj.subject">
            <li>
              <span>{{sub}}</span>
            </li>   
          </ng-container>
          </ul>
        </td>
          <!-- <td>{{eg.action}} <button [routerLink]="'/viewchildren'">go</button></td> -->
          <td> <button (click)="changeColor(colorListTemp)">Change Style</button>
            <button (click)="removeColor(colorListTemp)">Remove Style</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
