<br>
<div class="container"> 
  <button [ngClass]="flag1 ? 'btn btn-success' :'' " (click)="flag1=(!flag1)">Example1</button>
  <button [ngClass]="flag2 ? 'btn btn-success' :'' " (click)="flag2=(!flag2)">Example2</button>
</div>

<!-- ------------------------First example --------------------------------------------------- -->



<div class="container" *ngIf="flag1">     <br>   <br>
  <button (click)="viewElementsData()">View Elements</button>

  <div #pnameTemp>Mohit
    <p >address 1</p>
    <p>address 2</p>
  </div>
  <div #pnameTemp>Anup
    <p>address 3</p>
    <p>address 4</p>
  </div>
  <div #pnameTemp>Nilesh
    <p>address 5</p>
    <p #pTemp>address 6</p> <button (click)="show(pTemp)">show</button>
  </div>

</div>


<!-- ------------------------third example --------------------------------------------------- -->

  <div class="container" *ngIf="flag2">     <br>   <br>
    <button (click)="showVersion()">Show Version</button>
    <app-hello name="Angular -> "></app-hello>
    <app-hello name="Angular =>"></app-hello>
    <app-hello name="Angular >>>>"></app-hello>
  </div>

